@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'danielbold';
    src: url('../font/danielbd-webfont.eot');
    src: url('../font/danielbd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/danielbd-webfont.woff') format('woff'),
         url('../font/danielbd-webfont.ttf') format('truetype'),
         url('../font/danielbd-webfont.svg#danielbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

.clear {clear:both;}
.width { width:50%; float:left;}
.width:last-child:after {clear:both;}


* {margin:0; padding:0; border:none;}
body {font-family: Arial, Helvetica, sans-serif;}
.mainpage {background-image:url(../images/background-tail.jpg); background-repeat:repeat-y; background-size:contain;}
/*index page*/
.content {max-width:960px; height:auto; margin:40px auto 0 auto;}
.top {padding:20px 0;} 
.school-logo { width:312px; height:206px; margin:0 auto;}
.top h1 {font-family:abeatbyKai, Arial, Helvetica, sans-serif; font-size:70px; text-align:center; color:#666;}
.top p {text-align:center; font-family:abeatbyKai, Arial, Helvetica, sans-serif; font-size:20px; color:#8cc63e;}
.top {padding-bottom:80px;}

.heading {width:100%; height:200px; background-color:#8cc63e;}
.heading h1 { text-align:center; padding-top:70px; font-size:70px; color:#fff; font-family:danielbold, Arial, Helvetica, sans-serif;}
.footer {width:auto; height:auto;}
.footer p { color:#666; padding-top:30px; font-family:Arial, Helvetica, sans-serif; text-align:center;}

.logo {width:200px; height:200px; margin:0 auto;}
.logo img {margin:40px 0;}

/*index page End*/

/*reportcard2 */

.header {width:960px; height:120px; margin:0 auto; padding:10px;}
.header h1 { float:left; font-family:danielbold, Arial, Helvetica, sans-serif; font-weight:normal; margin:40px 0 20px 20px;;}
.header h1 span { color:#8cc63e;}
.header img {float:right; margin-right:20px;}

.exam-overview { width:50%; height:auto; float:left; margin:20px 0; display:inline;}
.exam-overview p:first-child {font-weight: bold; padding-bottom: 10px;}
.exam-overview .data {width: 50%; float: left;}
.exam-overview .data p { color: #999;}
.exam-overview h2 {display: inline-block;}
.g-percent {background-color:#8cc63e; border-radius:100%; color:#fff;}
.r-percent {background-color:#be1e2d; border-radius:100%; color:#fff;}
.b-percent {background-color:cadetblue; border-radius:100%; color:#fff;}
.overview {width:100%; height:auto; margin:0 auto;}
.percent { display: inline-block; padding: 5px; min-width: 20px; min-height: 20px; max-width: 20px; max-height: 20px; text-align: center;}



.top-performers {}
.top-performers h2 {font-family:danielbold, Arial, Helvetica, sans-serif; font-size:20px; margin:10px 20px;}
/*table for all pages*/
table { border-spacing:5px; width:960px;border-collapse:collapse; height:auto; margin:20px auto;}
table tr td:first-child, tr th:first-child {padding-left:40px;}
table tr td { padding:10px 20px; color:#000; font-size:14px;}
table tr td p { padding:10px 10px; color:#000; font-size:14px;}
table tr td p:last-child {color:#999; padding:10px 10px; line-height:15px;} 
table tr:nth-child(even) {background-color:#f1f1f2;}
table tr th {text-align:left; padding:10px 20px; font-family:danielbold, Arial, Helvetica, sans-serif;}
.border td{border:1px solid #d1d2df; border-top:none;}
table .percent {display: inline-block; padding: 5px; min-width: 18px; min-height: 18px; max-width: 18px; max-height: 18px; text-align: center; line-height:18px;margin-left: 5px;}
table tr td span {margin:3px; text-align:center; font-size:12px; padding:3px;}
.table-percent p {float:left;}
.table-percent .percent {float:left;}
table.subject tr td .data { min-width:auto; min-height:auto; max-height:auto; max-width:50%; margin-top:-5px; font-size:11px;}
/*end table*/ 

.top-performers h1 {font-size:18px; margin:30px 20px;}
.top-performers h2 {padding-left:10px;}
.graph {width:960px; height:300px; margin:0 auto; background-color:#f1f1f2;}
.graph p {font-size:100px; text-align:center; color:#d1d3d4; padding-top:90px;}


.average-graph {width:50%; height:300px; float:left;}
.average-graph img {width:100%; height:auto;}


.average-table { width:50%; height:auto; float:right;}
.average-table table {width:100%; height:auto; margin:0; padding:0;}
.toppers {width:100%; height:auto; margin:0 auto;}
.toppers-list {width:49.8%; height:auto; float:left;}
.toppers-list:first-child {border-right:1px solid #d1d3d4;}
.toppers-list:last-child {border-left:1px solid #d1d3d4; margin-left:-1px;}
.toppers-list h1  {font-family:danielbold, Arial, Helvetica, sans-serif; padding-left:20px; padding-bottom:20px;}
.toppers-list h2{font-family:danielbold, Arial, Helvetica, sans-serif; margin:15px 20px; }

.legend{
    padding-top: 15px;
    background-color: #f1f1f2;
    padding-bottom: 10px;
    margin-bottom: 2%;
    height: 90px
}
.min_width
{
  white-space: nowrap!important;
}